<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
 
      <div data-text></div>
      <span class="item">UI & UX designer</span>
      <span class="item">Webdesigner</span>
      <span class="item">Full Stack developer</span>
    
      <h2>I'm Dharma Sarswat</h2>
      <a href="/users/logout" class="login">logout</a>
      

    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
